<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @feed.url %>
</p>

<p>
  <strong>Last updated at:</strong>
  <%= @feed.last_updated_at %>
</p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
