<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= link_to @feed.url, @feed.urlb %>
</p>

<p>
  <strong>Crawled At:</strong>
  <%= @feed.crawled_at %>
</p>

<p>
  <strong>Title:</strong>
  <%= @feed.title %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
